<div class="product">
    <img class="product-img" [src]=product()?.image alt="">
    <div class="product-details">
        <div class="product-rating">
            @for(star of stars; track star){
                <app-star [class]="star.class"></app-star>
            }
        </div>
        <h1 class="product-title">{{product()?.title}}</h1>
        <p class="product-category">{{product()?.category}}</p>
        <p class="product-description">{{product()?.description}}</p>
        <p class="product-price">$ {{product()?.price}}</p>
        <div class="product-actions">
            <button class="button" (click)="goHome()">Go back</button>
        </div>
    </div>
</div>